project:
  type: website
  output-dir: docs
  resources:
    - "admin/**"
    - "*.html"
    - "js/**"


website:
  title: "Cornell IPM Guidelines Demo"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "Grape Guidelines"
        href: grapes/index.html  # Listing page

format:
  html:
    theme: cosmo
    toc: true