project:
  type: website
  output-dir: docs
  resources:
    - "admin/**"

website:
  title: "Cornell PSEP Guidelines"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "Publications"
        menu:
          - text: "Grape Guidelines"
            href: grapes/index.html
          - text: "---"
          - text: "Apple Guidelines (Coming Soon)"
          - text: "Tree Fruit Guidelines (Coming Soon)"

format:
  html:
    theme: cosmo
    toc: true