project:
  type: website
  output-dir: docs
  resources:
    - "admin/**"

website:
  title: "Cornell IPM Guidelines Demo"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "Grape Guidelines"
        href: grape-guidelines.qmd  # Listing page
  
  sidebar:
    - title: "Grape Guidelines"
      style: "docked"
      contents: auto  # This auto-generates the sidebar from all .qmd files

format:
  html:
    theme: cosmo
    toc: true

metadata-files:
  - "!publications/**"