project:
  type: website
  output-dir: docs

website:
  title: "Cornell IPM Guidelines Demo"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: chapter4.qmd
        text: Insect Management
      - href: table.qmd
        text: Pesticide Tables

format:
  html:
    theme: cosmo
    toc: true