backend:
  name: github
  repo: NYSIPM/cornell-ipm-guidelines-demo
  branch: main

media_folder: "static/images"
public_folder: "/images"

site_url: https://dancing-sundae-a531d3.netlify.app
display_url: https://dancing-sundae-a531d3.netlify.app

collections:
  - name: "guidelines"
    label: "Guidelines"
    folder: "content/sample-guideline"
    create: false
    extension: "qmd"
    format: "frontmatter"
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Subtitle", name: "subtitle", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}