project:
  type: website
  output-dir: ../../docs/grapes
  resources:
  -"*.pdf"

website:
  title: "Grape Guidelines"
  sidebar:
    style: "docked"
    background: light
    contents:
      - section: "Chapters"
        contents: auto

format:
  html:
    theme: cosmo
    toc: true